*{
	font-family: 'S-CoreDream-3Light';
}

input{
	margin-bottom: 14px;
} 
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  
} 

Style the form table
.table {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

Style the form headings
.table thead th {
  text-align: center;
  font-size: 25px;
}

Style the form input fields
.form-control {
  margin-bottom: 10px;
}

Style the error messages
h5 {
  font-weight: bold;
  margin-top: 5px;
}

.modal-header {
  background-color: #ff3333;
  color: #fff;
}

.modal-content {
  border-radius: 0;
}

.modal-footer {
  background-color: #f9f9f9;
}

.telephone{
  width: 100px;
  height: 35px;
  font-size: 13px;
  line-height: 1.5;
  color: #555;
  padding: 6px 23px;
  
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}































